
<div class="signupDiv">
  <%= render :partial => "devise/shared/registrations_new" %>
</div>

<style type="text/css">
  .signupDiv{
    padding-top: 10%;
    padding-left: 30%;
  }

  #error_explanation{
    color: red;
  }
  body{
    background-image: none;
    background-color: black;
  }
</style>