
<table class="wikitable">
<tbody><tr>
<th>Name</th>
<th>Species</th>
<th>Region(s)</th>
<th>Comments</th>
<th>Ref</th>
</tr>
<tr>
<td>Arusha</td>
<td>Arabica</td>
<td>Mount Meru in <a href="https://en.wikipedia.org/wiki/Tanzania" title="Tanzania">Tanzania</a>, and <a href="https://en.wikipedia.org/wiki/Papua_New_Guinea" title="Papua New Guinea">Papua New Guinea</a></td>
<td>Typica variety or a French Mission.</td>
<td><sup id="cite_ref-16" class="reference"><a href="#cite_note-16"><span>[</span>16<span>]</span></a></sup></td>
</tr>
<tr>
<td>Bergendal, Sidikalang</td>
<td>Arabica</td>
<td>Indonesia</td>
<td>Typica varieties which survived the Leaf Rust Outbreak of the 1880s; most of the other Typica in Indonesia was destroyed.</td>
<td></td>
</tr>
<tr>
<td>Blue Mountain</td>
<td>Arabica</td>
<td><a href="https://en.wikipedia.org/wiki/Blue_Mountains_(Jamaica)" title="Blue Mountains (Jamaica)">Blue Mountains</a> region of <a href="https://en.wikipedia.org/wiki/Jamaica" title="Jamaica">Jamaica</a>. Also grown in <a href="https://en.wikipedia.org/wiki/Kenya" title="Kenya">Kenya</a>, <a href="https://en.wikipedia.org/wiki/Hawaii" title="Hawaii">Hawaii</a>, <a href="https://en.wikipedia.org/wiki/Haiti" title="Haiti">Haiti</a>, <a href="https://en.wikipedia.org/wiki/Papua_New_Guinea" title="Papua New Guinea">Papua New Guinea</a> (where it is known as PNG Gold) and <a href="https://en.wikipedia.org/wiki/Cameroon" title="Cameroon">Cameroon</a> (where it is known as Boyo).</td>
<td>Typica, known to have some resistance to <a href="https://en.wikipedia.org/wiki/Colletotrichum_kahawae" title="Colletotrichum kahawae">coffee berry disease</a>.</td>
<td><sup id="cite_ref-auto_8-1" class="reference"><a href="#cite_note-auto-8"><span>[</span>8<span>]</span></a></sup></td>
</tr>
<tr>
<td id="bourbon"><a href="https://en.wikipedia.org/wiki/Bourbon_coffee" title="Bourbon coffee">Bourbon</a></td>
<td>Arabica</td>
<td><a href="https://en.wikipedia.org/wiki/R%C3%A9union" title="Réunion">Réunion</a>, Rwanda, Latin America.</td>
<td>Around 1708 the French planted coffee on the island of Bourbon (now called <a href="https://en.wikipedia.org/wiki/R%C3%A9union" title="Réunion">Réunion</a>) in the middle of the Indian Ocean, all probably from the same parent stock – the plant the Dutch gave them. Unsurprisingly, it mutated slightly and was planted throughout Brazil in the late 1800s and eventually spread through Latin America. <a href="https://en.wikipedia.org/wiki/Bourbon_coffee" title="Bourbon coffee">Bourbon</a> produces 20–30% more fruit than Typica|Typica varieties. El Salvador is known as the Bourbon Country.</td>
<td></td>
</tr>
<tr>
<td id="catuai">Catuai</td>
<td>Arabica</td>
<td>Latin America</td>
<td>This is a hybrid of <a href="https://en.wikipedia.org/wiki/Mundo_Novo" title="Mundo Novo" class="mw-redirect">Mundo Novo</a> and Caturra bred in Brazil in the late 40s.<sup id="cite_ref-coffeeresearch.org_17-0" class="reference"><a href="#cite_note-coffeeresearch.org-17"><span>[</span>17<span>]</span></a></sup></td>
<td></td>
</tr>
<tr>
<td>Catimor</td>
<td>Interspecific hybrid</td>
<td>Latin America, Indonesia</td>
<td>This is cross between Timor coffee and Caturra coffee. It was created in Portugal in 1959.<sup id="cite_ref-coffeeresearch.org_17-1" class="reference"><a href="#cite_note-coffeeresearch.org-17"><span>[</span>17<span>]</span></a></sup></td>
<td></td>
</tr>
<tr>
<td id="caturra">Caturra</td>
<td>Arabica</td>
<td>Latin and Central America</td>
<td>This coffee varietal was developed by the Alcides Carvalho Coffee Center ( Centro de Cafe ) of the IAC, Instituto Agronomico of Campinas, Sao Paulo State in Brazil. In 1937, IAC received seed samples of genetic materials originated on the border of the states of Minas Gerais and Espírito Santo. It was from Red Caturra and yellow Caturra cultivars. These two cultivars originated by natural mutation of Bourbon Red, originally a tall coffee shrub, found in the Serra do Caparaó , which is now a mountainous National Park north east of the city of Rio de Janeiro.<sup id="cite_ref-18" class="reference"><a href="#cite_note-18"><span>[</span>18<span>]</span></a></sup> It produces a higher yield than Bourbon, and this is generally due to the plant being shorter and with less distance between the branches. A relatively recently selected botanical variety of the Coffea arabica species that generally matures more quickly, produces more coffee, and is more disease resistant than older, traditional arabica varieties.<sup id="cite_ref-19" class="reference"><a href="#cite_note-19"><span>[</span>19<span>]</span></a></sup> In fact this mutation is not unique; it led to the formation of the Pacas variety in <a href="https://en.wikipedia.org/wiki/El_Salvador" title="El Salvador">El Salvador</a> (from Bourbon) and the Villa Sarchi in <a href="https://en.wikipedia.org/wiki/Costa_Rica" title="Costa Rica">Costa Rica</a> (from Bourbon). Genetically it is very similar to Bourbon although it usually produces a poorer cup quality but this is mainly due to the variety yielding more.<sup id="cite_ref-coffeeresearch.org_17-2" class="reference"><a href="#cite_note-coffeeresearch.org-17"><span>[</span>17<span>]</span></a></sup></td>
<td></td>
</tr>
<tr>
<td>Charrieriana</td>
<td>Not yet named</td>
<td>Cameroon</td>
<td>This is a newly found variety from Cameroon. It has gained some press recently due to its caffeine-free nature. Not yet grown commercially, but it probably will be.<sup id="cite_ref-20" class="reference"><a href="#cite_note-20"><span>[</span>20<span>]</span></a></sup></td>
<td></td>
</tr>
<tr>
<td><a href="https://en.wikipedia.org/wiki/Colombian_coffee" title="Colombian coffee" class="mw-redirect">Colombian</a></td>
<td>Arabica</td>
<td>Colombia</td>
<td>Typica and <a href="https://en.wikipedia.org/wiki/Bourbon_coffee" title="Bourbon coffee">Bourbon</a> cultivars are grown. When Colombian coffee is freshly roasted it has a bright acidity, is heavy in body and is intensely aromatic. <a href="https://en.wikipedia.org/wiki/Colombia" title="Colombia">Colombia</a> accounts for about 12% of the coffee market (by value) in the world, third in volume after Vietnam and Brazil.</td>
<td></td>
</tr>
<tr>
<td><a href="https://en.wikipedia.org/wiki/Ethiopian_Harar" title="Ethiopian Harar" class="mw-redirect">Ethiopian Harar</a></td>
<td>Arabica</td>
<td>Ethiopia</td>
<td>From the region of <a href="https://en.wikipedia.org/wiki/Harar" title="Harar">Harar</a>, <a href="https://en.wikipedia.org/wiki/Ethiopia" title="Ethiopia">Ethiopia</a>. Known for its complex, fruity flavor that resembles a dry red wine. All three Ethiopian varieties are trademarked names with the rights owned by Ethiopia.</td>
<td></td>
</tr>
<tr>
<td id="sidamo"><a href="https://en.wikipedia.org/wiki/Ethiopian_Sidamo_(coffee)" title="Ethiopian Sidamo (coffee)" class="mw-redirect">Ethiopian Sidamo</a></td>
<td>Arabica</td>
<td>Ethiopia</td>
<td>From the <a href="https://en.wikipedia.org/wiki/Sidamo_Province" title="Sidamo Province">Sidamo</a> (now <a href="https://en.wikipedia.org/wiki/Oromia" title="Oromia" class="mw-redirect">Oromia</a>) region of <a href="https://en.wikipedia.org/wiki/Ethiopia" title="Ethiopia">Ethiopia</a> as well. All three Ethiopian varieties are trademarked names with the rights owned by Ethiopia.</td>
<td></td>
</tr>
<tr>
<td>Ethiopian Yirgacheffe</td>
<td>Arabica</td>
<td>Ethiopia</td>
<td>From the <a href="https://en.wikipedia.org/wiki/Yirgachefe_(woreda)" title="Yirgachefe (woreda)">Yirgachefe</a> district in the <a href="https://en.wikipedia.org/wiki/Gedeo_Zone" title="Gedeo Zone">Gedeo Zone</a> of the <a href="https://en.wikipedia.org/wiki/Southern_Nations,_Nationalities,_and_People%27s_Region" title="Southern Nations, Nationalities, and People's Region" class="mw-redirect">Southern Nations, Nationalities, and People's Region</a> of Ethiopia. All three Ethiopian varieties are trademarked names with the rights owned by Ethiopia.<sup id="cite_ref-21" class="reference"><a href="#cite_note-21"><span>[</span>21<span>]</span></a></sup></td>
<td></td>
</tr>
<tr>
<td>French Mission</td>
<td>Arabica</td>
<td>Africa</td>
<td>French Mission is actually <a href="https://en.wikipedia.org/wiki/Bourbon_coffee" title="Bourbon coffee">Bourbon</a> that was planted in East Africa by French Missionaries around 1897.<sup id="cite_ref-crf.co.ke_22-0" class="reference"><a href="#cite_note-crf.co.ke-22"><span>[</span>22<span>]</span></a></sup></td>
<td></td>
</tr>
<tr>
<td><a href="https://en.wikipedia.org/wiki/Gesha" title="Gesha" id="geisha">Gesha</a> / Geisha T.2722</td>
<td>Arabica</td>
<td>Ethiopia, Tanzania, Costa Rica, Panama, Colombia, Peru</td>
<td><a href="https://en.wikipedia.org/wiki/Gesha" title="Gesha">Gesha</a> or Geisha variety, grown in the highlands of <a href="https://en.wikipedia.org/wiki/Boquete" title="Boquete" class="mw-redirect">Boquete</a> in <a href="https://en.wikipedia.org/wiki/Chiriqu%C3%AD_Province" title="Chiriquí Province">Chiriquí Province</a>, Panama, highly sought after at auction, achieving high prices. Originally from the village of Gesha, Ethiopia. It was planted in the 1950s as a rust resistant crop and rediscovered in the early 2000s. The most expensive varietal at coffee auctions, fetching $350.25USD in 2013.<sup id="cite_ref-23" class="reference"><a href="#cite_note-23"><span>[</span>23<span>]</span></a></sup></td>
<td></td>
</tr>
<tr>
<td><a href="https://en.wikipedia.org/wiki/Guadeloupe_Bonifieur" title="Guadeloupe Bonifieur">Guadeloupe Bonifieur</a></td>
<td>Arabica</td>
<td><a href="https://en.wikipedia.org/wiki/Guadeloupe" title="Guadeloupe">Guadeloupe</a></td>
<td></td>
<td><sup id="cite_ref-24" class="reference"><a href="#cite_note-24"><span>[</span>24<span>]</span></a></sup></td>
</tr>
<tr>
<td>Hawaiian <a href="https://en.wikipedia.org/wiki/Kona_coffee" title="Kona coffee">Kona</a></td>
<td>Arabica</td>
<td>Hawaii</td>
<td>Grown on the slopes of <a href="https://en.wikipedia.org/wiki/Hualalai" title="Hualalai" class="mw-redirect">Hualalai</a> and <a href="https://en.wikipedia.org/wiki/Mauna_Loa" title="Mauna Loa">Mauna Loa</a> in the <a href="https://en.wikipedia.org/wiki/Kona_District,_Hawaii" title="Kona District, Hawaii">Kona District</a> on the <a href="https://en.wikipedia.org/wiki/Hawaii_(island)" title="Hawaii (island)">Big Island of Hawaii</a>. Coffee was first introduced to the Islands by Chief Boki, the Governor of Oahu, in 1825.</td>
<td></td>
</tr>
<tr>
<td><a href="https://en.wikipedia.org/wiki/Java_coffee" title="Java coffee">Java</a></td>
<td>Arabica, Robusta and interspecific hybrids</td>
<td>Indonesia</td>
<td>From the island of <a href="https://en.wikipedia.org/wiki/Java_(island)" title="Java (island)" class="mw-redirect">Java</a>, in <a href="https://en.wikipedia.org/wiki/Indonesia" title="Indonesia">Indonesia</a>. This coffee was once so widely traded that "java" became a slang term for coffee. Java encompasses a regional style, not a cultivar of coffee.</td>
<td></td>
</tr>
<tr>
<td>K7</td>
<td>Arabica</td>
<td>Africa</td>
<td>A Kenyan selection of French Mission Bourbon selected at Legelet Estate in Muhoroni, Kenya. Selected based on cupping trials.</td>
<td></td>
</tr>
<tr>
<td id="maragogype">Maragogype</td>
<td>Arabica</td>
<td>Latin America</td>
<td>Typica. It was first discovered near <a href="https://en.wikipedia.org/wiki/Maragogipe" title="Maragogipe">Maragogipe</a> ('i'), in Brazil's state Bahia. Maragogype is well known for producing big beans.</td>
<td></td>
</tr>
<tr>
<td><a href="https://en.wikipedia.org/wiki/Mayag%C3%BCez" title="Mayagüez" class="mw-redirect">Mayagüez</a></td>
<td>Arabica</td>
<td>Africa</td>
<td>A <a href="https://en.wikipedia.org/wiki/Bourbon_coffee" title="Bourbon coffee">Bourbon</a> cultivar grown in Rwanda.</td>
<td></td>
</tr>
<tr>
<td>Mocha</td>
<td>Arabica</td>
<td>Yemen</td>
<td><a href="https://en.wikipedia.org/wiki/Yemen" title="Yemen">Yemeni</a> coffee traded through the once major port of <a href="https://en.wikipedia.org/wiki/Mocha,_Yemen" title="Mocha, Yemen">Mocha</a>. Not to be confused with the preparation style (coffee with cocoa).</td>
<td></td>
</tr>
<tr>
<td><a href="https://en.wikipedia.org/wiki/Mundo_Novo" title="Mundo Novo" class="mw-redirect">Mundo Novo</a></td>
<td>Arabica</td>
<td>Latin America</td>
<td><a href="https://en.wikipedia.org/wiki/Mundo_Novo" title="Mundo Novo" class="mw-redirect">Mundo Novo</a> is a hybrid between <a href="https://en.wikipedia.org/wiki/Bourbon_coffee" title="Bourbon coffee">Bourbon</a> and Typica|Typica, crossed in the 1940s.</td>
<td></td>
</tr>
<tr>
<td>Orange, Yellow Bourbon</td>
<td>Arabica</td>
<td>Latin America</td>
<td>Red Bourbon and Orange Bourbon are types of Bourbon that have been selected from spontaneous mutation.</td>
<td></td>
</tr>
<tr>
<td id="pacamara">Pacamara</td>
<td>Arabica</td>
<td>Latin America</td>
<td>Pacamara is a hybrid between the <a href="https://en.wikipedia.org/wiki/Bourbon_coffee" title="Bourbon coffee">Bourbon</a> mutation Pacas and Maragogype. It was bred in <a href="https://en.wikipedia.org/wiki/El_Salvador" title="El Salvador">El Salvador</a> in 1958 probably to achieve a Typica|Typica variety that produces larger beans.</td>
<td></td>
</tr>
<tr>
<td id="pacas">Pacas</td>
<td>Arabica</td>
<td>Latin America</td>
<td>A natural mutation of the <a href="https://en.wikipedia.org/wiki/Bourbon_coffee" title="Bourbon coffee">Bourbon</a> variety found in El Salvador in 1949.</td>
<td></td>
</tr>
<tr>
<td>Pache Colis</td>
<td>Arabica</td>
<td>Latin America</td>
<td>Pache Colis is a hybrid between Pache Comum and Caturra. This variety produces distinctly larger fruit and roughly textured foliage.</td>
<td></td>
</tr>
<tr>
<td>Pache Comum</td>
<td>Arabica</td>
<td>Latin America</td>
<td>Typica first found in Santa Rosa, Guatemala.</td>
<td></td>
</tr>
<tr>
<td>Ruiru 11</td>
<td>Arabica</td>
<td>Kenya</td>
<td>Ruiru 11 was released in 1985 by the Kenyan Coffee Research Station. While the variety is generally disease resistant, it produces a lower cup quality than K7, SL28 and 34.<sup id="cite_ref-25" class="reference"><a href="#cite_note-25"><span>[</span>25<span>]</span></a></sup></td>
<td></td>
</tr>
<tr>
<td>S795</td>
<td>Arabica</td>
<td>India, Indonesia</td>
<td>Probably the most commonly planted Arabica in India and Southeast Asia,<sup id="cite_ref-Neilson_.26_Pritchard_26-0" class="reference"><a href="#cite_note-Neilson_.26_Pritchard-26"><span>[</span>26<span>]</span></a></sup> known for its balanced cup and subtle flavour notes of <a href="https://en.wikipedia.org/wiki/Cafe_mocha" title="Cafe mocha" class="mw-redirect" id="mocca">mocca</a>. Released during the 1940s, it is a cross between the Kents and S.288 varieties.<sup id="cite_ref-Neilson_.26_Pritchard_26-1" class="reference"><a href="#cite_note-Neilson_.26_Pritchard-26"><span>[</span>26<span>]</span></a></sup></td>
<td></td>
</tr>
<tr>
<td><a href="https://en.wikipedia.org/wiki/Santos,_S%C3%A3o_Paulo" title="Santos, São Paulo">Santos</a></td>
<td>Arabica</td>
<td>Brazil</td>
<td>Brazil Santos is usually used as a grading term for Brazilian coffee rather than a variety of Arabica. The name refers to the port in Brazil where coffee passed through, and was regarded as higher quality than "Brazilian coffee". Brazilian Santos is usually of the Bourbon variety.</td>
<td></td>
</tr>
<tr>
<td>Sarchimor</td>
<td>Interspecific hybrid</td>
<td>Costa Rica, India</td>
<td>A hybrid between the Costa Rican Villa Sarchi and the Timor variety. Because of its Timor parent, Sarchimor is quite resistant to leaf rust disease and stem borer. As well as Costa Rica, it is grown in India.</td>
<td></td>
</tr>
<tr>
<td id="sl28">SL28</td>
<td>Arabica</td>
<td>Kenya</td>
<td>A selection, by Scott Labs in Kenya from the Tanganyika Drought Resistant variety from northern Tanzania in 1931. Excellent flavour, commonly blackcurrant acidity.<sup id="cite_ref-crf.co.ke_22-1" class="reference"><a href="#cite_note-crf.co.ke-22"><span>[</span>22<span>]</span></a></sup></td>
<td></td>
</tr>
<tr>
<td>SL34</td>
<td>Arabica</td>
<td>Kenya</td>
<td>Selected by Scott Labs from the French Mission variety grown in Kenya. Selected for its superior cup quality (although inferior to SL28), but not resistant to CBD, CLR or BBC.</td>
<td></td>
</tr>
<tr>
<td><a href="https://en.wikipedia.org/wiki/Sulawesi" title="Sulawesi">Sulawesi</a> Toraja Kalossi</td>
<td>Arabica</td>
<td>Indonesia</td>
<td>Actually the S795 varietal, grown at high altitudes on the island of Sulawesi (formerly <a href="https://en.wikipedia.org/wiki/Sulawesi" title="Sulawesi">Celebes</a>), Indonesia. Kalossi is the small town in central Sulawesi which serves as the collection point for the coffee and <a href="https://en.wikipedia.org/wiki/Toraja" title="Toraja">Toraja</a> is the mountainous area in which the coffee is grown. Sulawesi exhibits a rich, full body, well-balanced acidity and is multi-dimensional in character. Sulawesi itself is not a cultivar of coffee.</td>
<td></td>
</tr>
<tr>
<td id="mandheling"><a href="https://en.wikipedia.org/wiki/Sumatra" title="Sumatra">Sumatra</a> Mandheling and <a href="https://en.wikipedia.org/wiki/Sumatra" title="Sumatra">Sumatra</a> Lintong</td>
<td>Arabica</td>
<td>Indonesia</td>
<td>Mandheling is named after the <a href="https://en.wikipedia.org/wiki/Mandailing" title="Mandailing" class="mw-redirect">Mandailing</a> people located in <a href="https://en.wikipedia.org/wiki/North_Sumatra" title="North Sumatra">North Sumatra</a>, <a href="https://en.wikipedia.org/wiki/Indonesia" title="Indonesia">Indonesia</a>. The name is the result of a misunderstanding by the first foreign purchaser of the variety, and no coffee is actually produced in the "Mandailing region". Lintong on the other hand, is named after the Lintong district, also located in <a href="https://en.wikipedia.org/wiki/North_Sumatra" title="North Sumatra">North Sumatra</a>. This is not a specific cultivar, but rather a region with a specific processing style.</td>
<td></td>
</tr>
<tr>
<td>Timor, Arabusta</td>
<td>Interspecific hybrid</td>
<td>Indonesia</td>
<td>Timor is not actually a variety of coffea arabica, but a hybrid of two species of coffee; coffea arabica and coffea canephora (also called Robusta). It was found on the island of Timor around the 1940s and it was cultivated because of its resistance to leaf rust (which most arabica coffee is susceptible to). It is called Hybrido de Timor in the Americas and Tim Tim or Bor Bor in Indonesia. Another hybrid between the two species is called Arabusta but generally only found in Africa.</td>
<td></td>
</tr>
<tr>
<td id="typica">Typica</td>
<td>Arabica</td>
<td>Worldwide</td>
<td>Typica originated from Yemeni stock, taken first to Malabar, India, and later to Indonesia by the Dutch. It later made its way to the West Indies to the French colony at Martinique. Typica has genetically evolved to produce new characteristics, often considered new varietals: Criollo (South America), Arabigo (Americas), Kona (Hawaii), Pluma Hidalgo (Mexico), Garundang (Sumatra), Blue Mountain (Jamaica, Papua New Guinea), San Bernado &amp; San Ramon (Brazil), Kents &amp; Chickumalgu (India)</td>
<td><sup id="cite_ref-27" class="reference"><a href="#cite_note-27"><span>[</span>27<span>]</span></a></sup></td>
</tr>
<tr>
<td><a href="https://en.wikipedia.org/wiki/Uganda" title="Uganda">Uganda</a></td>
<td>Arabica/Robusta</td>
<td></td>
<td>Although it mostly produces Robusta coffee, there is a quality Arabica bean grown there known as Bugishu around the Sipi Falls area.</td>
<td></td>
</tr>
<tr>
<td>Brutte</td>
<td>Arabica</td>
<td></td>
<td>Variety of coffee (arabica) Bred in 2014 in the south of India in g.Madras, 1996 Chennai Tamil Nadu. Grown at an altitude of 1500 m above sea level, which in itself is a good indicator. Differ by more quantitative tannin to 14 -15% and trigonelline 1.5 - 1.7%.<sup class="noprint Inline-Template Template-Fact" style="white-space:nowrap;">[<i><a href="https://en.wikipedia.org/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources. (February 2007)">citation needed</span></a></i>]</sup></td>
<td></td>
</tr>
</tbody></table>