<div class="signinDiv">
  <%= render :partial => "devise/shared/sessions_new" %>
</div>

<style type="text/css">
  .signinDiv{
    padding-top: 12%;
    padding-left: 44%;
  }

  body{
    background-image: none;
    background-color: black;
  }
</style>

