/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.fancybox
 *= require_tree .
 */

@import "bootstrap";
// @import "bootstrap-responsive";

// overrides Twitter bootstrap for Google-Maps-for-Rails
#map img {
  max-width: none;
}
#map label {
  width: auto; display:inline;
}

.navbar{
  margin-bottom:-0.5%;
}

//end

.navbar-header{
  .navbar-brand{
    font-family: Elsie Swash Caps;
    padding: 21px 21px;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    color: darkorange;
  }
}

.navbar-nav{
  .navBtn{
    font-size: 20px;
  }

  .signinbtn{
    clear: color;
    font-size: 20px;
  }

  #claimplace{
    font-family: Elsie Swash Caps;
    font-size: 16px;
  }

  .userLoginBlock{
    margin-left: 30%;
  }
}
