// Place all the styles related to the claimPlace controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-image:url(/assets/paper.jpg);
  background-repeat: repeat;
  background-color:#f7f5f5;
}

.navbar-inner{
  background-image:url(/assets/paper.jpg);
  background-repeat: repeat;
}

.claimPlace{
	margin-top: 10px;
}

#new_claim_place label{
	color: darkorange;
	padding: 1px;
	font-size: 20px;
	font-family: Elsie Swash Caps;
}