// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.carousel { 
  z-index: -99;
}

.carousel .item{
	position: fixed;
  width: 100%; 
  height: 100%;
	-webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

/*.carousel .active.left, .carousel .active.right {
    left:0;
    opacity:0;
    z-index:2;
}
.carousel .next, .carousel .prev {
    left:0;
    opacity:1;
    z-index:1;
}*/


.carousel .one{
	background: url("/assets/slideshow1.jpg");
  background-size: cover;
  background-position: 0 Y;
  -moz-background-size: cover;
}

.carousel .two{
	background: url("/assets/slideshow3.jpg");
  background-size: cover;
  background-position: 0 Y;
  -moz-background-size: cover;
}

.carousel .three{
	background: url("/assets/slideshow4.jpg");
  background-size: cover;
  background-position: 0 Y;
  -moz-background-size: cover;
}

.carousel .four{
	background: url("/assets/slideshow5.jpg");
  background-size: cover;
  background-position: 0 Y;
  -moz-background-size: cover;
}

.carousel .five{
  background: url("/assets/slideshow6.jpg");
  background-size: cover;
  background-position: 0 Y;
  -moz-background-size: cover;
}



