  .storeName{
    line-height: 50px;
    padding: 15px;
    font-family: Merienda One;
    font-size: 95px;
    text-align: center;
  }

  .productName{
    line-height: 30px;
    padding: 15px;
    font-family: Nova Mono;
    font-size: 36px;
  }

  #scaaItem{
    font-size: 24px;
    font-family: NovaMono;
    font-weight: bold;
    line-height: 27px;

    td{
      width: 250px;
    }
  }

  .description{
    font-size: 20px;
    font-family: Merienda One;
    line-height: 24px;
  }

  address{
    padding: 20px;
    line-height: 30px;
    font-size: 20px;
    font-family: Merienda One;
    text-align: center;
  }

  .sotreDescription{
    font-size: 20px;
    font-family: Merienda One;
    color: rgba(128,64,0,0.8);
    line-height: 24px;
    padding-left: 10%;
  
  }

  .productList{
    padding-left: 14%;
  }

  .product{
    padding-bottom: 20px;
  }