  .storeName{
    line-height: 90px;
    padding: 15px;
    font-family: Merienda One;
    font-size: 95px;
    text-align: center;
  }

  .productName{
    line-height: 30px;
    padding: 15px;
    font-family: Nova Mono;
    font-size: 36px;
  }

  #scaaItem{
    font-size: 24px;
    font-family: NovaMono;
    font-weight: bold;
    line-height: 27px;
    
    tr{
      width: 20px;
    }
    td{
      width: 10px;
    }
  }

  .description{
    font-size: 20px;
    font-family: Merienda One;
    line-height: 24px;
    min-height: 299px;
  }

  .storeDescription{
    font-size: 20px;
    font-family: Merienda One;
    color: rgba(128,64,0,0.8);
    line-height: 24px;
    padding-left: 10%;
  
  }

  .productList{
    padding-left: 14%;
  }

  .product{
    padding-bottom: 20px;
  }

  .productList .row-fluid .span6 {
    width: 40%; 
    float: left;
    margin-right: 8.5%;
    display: inline;
    text-align: center;
  }

  .description {
    text-align: left;
  }

  .product{
    margin-top: 7%;
    margin-bottom: 7%; 
  }

  .adminActions{
    text-align: right;
  }

  //product edit
  .productsContainer{
    margin-top: 6%;
  }

  .scaaItem .scaaScores{
    width: 21%;
    float: left;
    margin: 3%;
    display: block;
    text-align: left;

    .scaaScore{
      padding-top: 10%;
      padding-bottom: 10%;
      margin-top: 3%;
      margin-bottom: 3%;
      text-align: center;
    }

    .label-floatlabel {
      margin-top: 2%;
      margin-left: 13%;
    }
  }

  .scaaItem .formActions{
    width: 65%;
    float: left;
    display: inline;
    text-align: right;

    .btn{
      margin-top: 1%;
    }
  }

  