<div class="span12">

  <div class="claimPlace">
    <%= link_to("Edit", edit_group_path(@claimPlace) ,
                :class => "btn btn-mini btn-primary pull-right")%>
  </div>

  <h2> <%= @claimPlace.title %> </h2>

  <p> <%= @claimPlace.description %> </p>

</div>